/* ==========================================================================
	 Основные стили сайта
	 ========================================================================== */

/* Typography */
html, body {margin:0px; padding:0px; font-family:'Arial'; font-size:14px; line-height:18px; color:#000; background:#fff; height:100%;}
html.fancybox-lock {overflow:visible !important;}
html.fancybox-lock body {position:relative;}
a {color:#000000; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:0px 0px; padding:0px;}
h1 {font-size:36px; line-height:42px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h2 {font-size:24px; line-height:30px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h3 {font-size:18px; line-height:24px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
menu {margin:0px; padding:0px; list-style-type:none;}
ul {margin:0; padding:0px; list-style-type:disc;}
ol {margin:25px 0px 25px 30px; padding:0px; list-style-type:decimal;}
ol li, ul li {margin:0px; padding:0px; list-style-type: none;}
ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button, input, select, textarea {outline:none; font-family:'arial';}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}
input {outline:none;}

/* General */
main {min-height:100%;}
.clear.clear-footer {height:100px;}
.site-wrap { width: 1200px; margin: 0 auto; padding: 0 15px; }
.container { min-width: 1200px; position: relative; min-height: 100%; }


/* Header */
header {width:100%;}


/* Footer */
/*footer {position:absolute;left: 0;bottom: 0;width: 100%;height: 761px;}*/



/* ==========================================================================
	 Вспомогательные стили
	 ========================================================================== */
.show {display:block;}
.hide {display:none;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.clear-m {margin: 0;}
.clear-p {padding: 0;}
.unstyle-list {margin: 0;list-style-type: none;}
.clearfix:after {content: "";	display: table;	clear: both;}
::-ms-reveal {display:none;}


/* ==========================================================================
	 Стили для печати
	 ========================================================================== */

@media print {
		*, *:before, *:after, *:first-letter, *:first-line {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
		a, a:visited {text-decoration: underline;}
		a[href]:after {content: " (" attr(href) ")";}
		abbr[title]:after {content: " (" attr(title) ")";}
		a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}
		pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
		thead {display: table-header-group;}
		tr, img {page-break-inside: avoid;}
		img {max-width: 100% !important;}
		p, h2, h3 {orphans: 3; widows: 3;}
		h2, h3 {page-break-after: avoid;}
}


/* ==========================================================================
	 Начало CSS >>>
	 ========================================================================== */
/* ==========================================================================
	 block-header >>>
	 ========================================================================== */


.block-header {
	background-color: #fff;
}

.block-header .header-logo {
	float: left;
	padding: 4px 0;
	margin-right: 133px;
}

.block-header .header-nav {
	float: left;
	padding: 35px 0;
	font-size: 0;
}

.block-header .header-nav li {
	display: inline-block;
	vertical-align: top;
	margin-right: 43px;
}

.block-header .header-nav li:last-child {
	margin-right: 0;
}

.block-header .header-nav a {
	display: block;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #3d4048;
}

.block-header .header-tel {
	float: right;
	padding: 33px 0;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #009ae1;
}



/* ==========================================================================
	 block-promo >>>
	 ========================================================================== */


.block-promo {
	min-height: 691px;
	background: #4579a1 url(../images/promo-bg.jpg) top center no-repeat;
}

.block-promo .promo-text {
	float: left;
	width: 640px;
	padding-top: 382px;
}

.block-promo .promo-text h1 {
	margin-bottom: 20px;
	font-family: "PTSansPro-CaptionBold", sans-serif;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	text-shadow: 1px 2px 1px #000;
}

.block-promo .promo-text h2 {
	font-family: "PTSansPro-CaptionBold", sans-serif;
	font-size: 37px;
	line-height: 40px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 2px 1px #000;
}

.block-promo .promo-form {
	float: right;
	width: 500px;
	margin-top: 82px;
	background-color: #edf2f6;
}

.block-promo .promo-form::before {
	background: #207cca; /* Old browsers */
	background: #207cca; /* Old browsers */
	background: -moz-linear-gradient(left, #207cca 0%, #009ae1 1%, #535eaf 35%, #cb0767 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #207cca 0%,#009ae1 1%,#535eaf 35%,#cb0767 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #207cca 0%,#009ae1 1%,#535eaf 35%,#cb0767 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#cb0767',GradientType=1 ); /* IE6-9 */
	content: "";
	display: block;
	height: 6px;
	width: 100%;
}

.block-promo .form-wrapper {
	width: 427px;
	padding-top: 59px;
	padding-bottom: 42px;
	margin: 0 auto;
}

.block-promo .form-title {
	margin-bottom: 48px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 35px;
	line-height: 30px;
	color: #3d4048;
	text-transform: uppercase;
	text-align: center;
}

.block-promo .form-el-warpper input {
	width: 100%;
	height: 59px;
	margin-bottom: 11px;
	padding: 0 26px;
	border: 1px solid #c5c5c5;
	font-family: "Roboto-Italic", sans-serif;
	font-size: 14px;
	line-height: 14px;
}

.block-promo .form-el-warpper input[type="submit"] {
	margin-top: 14px;
	margin-bottom: 13px;
	background-color: #009ae1;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #fff;
	height: 68px;
}

.block-promo .description {
	display: inline-block;
	vertical-align: top;
	padding-left: 3px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #5e5e5e;
}

.block-promo input::-webkit-input-placeholder {color: #b7b7b7;}
.block-promo input::-moz-placeholder {color: #b7b7b7;}
.block-promo input:-ms-input-placeholder {color: #b7b7b7;}

/* ==========================================================================
	 block-features1 >>>
	 ========================================================================== */

.block-features1 {
	position: relative;
	padding-top: 72px;
	padding-bottom: 15px;
	background-color: #fff;
}

.block-features1::after {
	position: absolute;
	content: '';
	width: 1170px;
	height: 6px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background:	url("../images/divider.png") 0 0 no-repeat;
}

.block-features1 h2 {
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 45px;
	color: #3d4048;
	font-weight: 100;
}

.features1-items {
	padding-top: 64px;
}

.features1-items .item-row {
	margin-bottom: 68px;
	font-size: 0;
}

.features1-items .item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 344px;
	padding-top: 65px;
	margin-right: 51px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #5e5e5e;
}

.features1-items .item.item1::after {
	position: absolute;
	content: '';
	width: 41px;
	height: 41px;
	top: 8px;
	left: 0;
	background:	url("../images/sprite.png") -919px -10px no-repeat;
}

.features1-items .item.item2::after {
	position: absolute;
	content: '';
	width: 42px;
	height: 42px;
	top: 8px;
	left: 3px;
	background:	url("../images/sprite.png") -420px -10px no-repeat;
}

.features1-items .item.item3::after {
	position: absolute;
	content: '';
	width: 44px;
	height: 43px;
	top: 8px;
	left: 3px;
	background:	url("../images/sprite.png")	-482px -10px no-repeat;
}

.features1-items .item.item4::after {
	position: absolute;
	content: '';
	width: 42px;
	height: 43px;
	top: 8px;
	left: 3px;
	background:	url("../images/sprite.png") -303px -10px no-repeat;
}

.features1-items .item.item5::after {
	position: absolute;
	content: '';
	width: 44px;
	height: 43px;
	top: 8px;
	left: 3px;
	background:	url("../images/sprite.png")	-482px -10px no-repeat;
}

.features1-items .item.item6::after {
	position: absolute;
	content: '';
	width: 44px;
	height: 43px;
	top: 8px;
	left: 3px;
	background:	url("../images/sprite.png")	-482px -10px no-repeat;
}

.features1-items .item:last-child {
	margin-right: 0;
}

/* ==========================================================================
	 block-features2 >>>
	 ========================================================================== */

.block-features2 {
	padding-top: 73px;
	padding-bottom: 76px;
	background-color: #fff;
}

.block-features2 h2 {
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 45px;
	color: #3d4048;
	font-weight: 100;
	text-align: center;
	margin-bottom: 67px;
}

.block-features2 .items-row {
	font-size: 0;
	text-align: center;
}

.block-features2 .item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 285px;
	padding-top: 105px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #5e5e5e;
	text-align: center;
}

.block-features2 .item.item1 {
	padding: 0 28px;
	padding-top: 105px;
}

.block-features2 .item.item1::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 83px;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #5f5f5f;
	border-radius: 50%;
}

.block-features2 .item.item1::before {
	position: absolute;
	content: '';
	width: 32px;
	height: 46px;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	background:	url("../images/sprite.png") -1088px -10px no-repeat;
}

.block-features2 .item.item2 {
	padding-top: 105px;
	margin: 0 88px;
}

.block-features2 .item.item2::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 83px;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #5f5f5f;
	border-radius: 50%;
}

.block-features2 .item.item2::before {
	position: absolute;
	content: '';
	width: 44px;
	height: 43px;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	background:	url("../images/sprite.png") -980px -10px no-repeat;
}

.block-features2 .item.item3 {
	padding: 0 28px;
	padding-top: 105px;
}

.block-features2 .item.item3::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 83px;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #5f5f5f;
	border-radius: 50%;
}

.block-features2 .item.item3::before {
	position: absolute;
	content: '';
	width: 35px;
	height: 45px;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	background:	url("../images/sprite.png") -365px -10px no-repeat;
}

/* ==========================================================================
	 block-features3 >>>
	 ========================================================================== */

.block-features3 {
	background: #1c5bb4 url("../images/features-bg.jpg") top center no-repeat;
	min-height: 432px;
	padding-top: 71px;
}

.block-features3 h2 {
	margin-bottom: 64px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 45px;
	color: #fff;
	font-weight: 100;
	text-align: center;
}

.block-features3 .items-row {
	font-size: 0;
}

.block-features3 .item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding-top: 78px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: center;
}

.block-features3 .item.item1{
	margin-right: 33px;
	padding-right: 21px;
}

.block-features3 .item.item1::after{
	position: absolute;
	content: '';
	width: 35px;
	height: 45px;
	top: 11px;
	left: 74px;
	background:	url("../images/sprite.png") -576px -10px no-repeat;
}

.block-features3 .item.item2{
	padding: 0 20px;
	padding-top: 78px;
	margin-right: 31px;
}

.block-features3 .item.item2::after{
	position: absolute;
	content: '';
	width: 48px;
	height: 36px;
	top: 11px;
	left: 76px;
	background:	url("../images/sprite.png") -631px -10px no-repeat;
}

.block-features3 .item.item3{
	margin-right: 28px;
	width: 248px;
}

.block-features3 .item.item3::after{
	position: absolute;
	content: '';
	width: 52px;
	height: 50px;
	top: 8px;
	left: 97px;
	background:	url("../images/sprite.png") -699px -10px no-repeat;
}

.block-features3 .item.item4{
	margin-right: 30px;
}

.block-features3 .item.item4::after{
	position: absolute;
	content: '';
	width: 48px;
	height: 55px;
	top: 6px;
	left: 72px;
	background:	url("../images/sprite.png") -771px -10px no-repeat;
}

.block-features3 .item.item5{
	padding-left: 31px;
}

.block-features3 .item.item5::after{
	position: absolute;
	content: '';
	width: 60px;
	height: 52px;
	top: 6px;
	left: 92px;
	background:	url("../images/sprite.png") -839px -10px no-repeat;
}

/* ==========================================================================
	 block-info1 >>>
	 ========================================================================== */

.block-info1 {
	background-color: #fff;
}

.info1-wrapper {
	padding-top: 117px;
	padding-bottom: 79px;
	background:	url("../images/girl.png") right 0 no-repeat;
}

.block-info1 h2 {
	margin-bottom: 11px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 45px;
	color: #3d4048;
	font-weight: 100;
}

.block-info1 .info1-list-title {
	margin-bottom: 54px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #000;
}

.block-info1 .list-wrapper {
	margin-bottom: 53px;
}

.block-info1 .info1-list {
	width: 545px;
}

.block-info1 .info1-list li {
	position: relative;
	padding-left: 49px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	margin-bottom: 13px;
	line-height: 26px;
	color: #000;
}

.block-info1 .info1-list li::after {
	position: absolute;
	content: '';
	width: 18px;
	height: 13px;
	top: 7px;
	left: 6px;
	background:	url("../images/sprite.png")-1212px -10px no-repeat;
}

.block-info1 .description {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #000;
}

/* ==========================================================================
	 block-info2 >>>
	 ========================================================================== */
.block-info2 {
	min-height: 661px;
	padding-top: 141px;
	background: #c1d9ab url(../images/info2-bg.jpg) no-repeat;
	background-position: center center;
}

.block-info2::after {
	position: absolute;
	content: '';
	width: 72px;
	height: 43px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background:	url("../images/white arrow.png") 0 0 no-repeat;

}

.block-info2-box {
	float: right;
	margin-right: 186px;
	width: 794px;
	height: 384px;
	padding-top: 60px;
	padding-left: 46px;
	background: url("../images/folding.png") 0 0 no-repeat;
}

.block-info2 h2 {
	margin-bottom: 47px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 30px;
	color: #fff;
	font-weight: 100;
}

.block-info2 .list-wrapper {
	margin-bottom: 46px;
}

.block-info2 .list {
	width: 407px;
}
.block-info2 .list li {
	position: relative;
	margin-left: 39px;
	margin-bottom: 24px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}

.block-info2 .list li::after{
	position: absolute;
	content: '';
	width: 18px;
	height: 13px;
	top: 5px;
	left: -38px;
	background:	url("../images/sprite.png")-1212px -10px no-repeat;
}

.block-info2 .info2-btn {
	display: inline-block;
	vertical-align: top;
	background-color: #89c353;
	padding: 12px 45px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	border-radius: 5px;
}
/* ==========================================================================
	 block-certificates >>>
	 ========================================================================== */

.block-certificates {
	padding-top: 80px;
	padding-bottom: 83px;
	background-color: #fff;
}

.block-certificates h2 {
	margin-bottom: 80px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 30px;
	color: #3d4048;
	font-weight: 100;
	text-align: center;
}

.block-certificates .certificates-wrapper {
	font-size: 0;
}

.block-certificates .text1 {
	display: inline-block;
	vertical-align: top;
	width: 162px;
	margin-left: 71px;
	margin-right: 37px;
	padding-top: 237px;
}

.block-certificates .text1 span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto-Italic", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #5e5e5e;
}

.block-certificates .text1 span::after {
	position: absolute;
	content: '';
	width: 74px;
	height: 56px;
	top: -94px;
	left: 53px;
	background:	url("../images/sprite.png") -92px -10px no-repeat;
}

.block-certificates .certificate {
	display: inline-block;
	vertical-align: top;
}

.block-certificates .certificate.certificate1 {
	margin-right: 91px;
}

.block-certificates .certificate.certificate2 {
	margin-right: 40px;
}

.block-certificates .text2 {
	display: inline-block;
	vertical-align: top;
	width: 207px;
	padding-top: 12px;
}

.block-certificates .text2 span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 12px;
	font-family: "Roboto-Italic", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #5e5e5e;
}

.block-certificates .text2 span:first-child::after {
	position: absolute;
	content: '';
	width: 59px;
	height: 70px;
	bottom: -172px;
	left: 40px;
	background:	url("../images/sprite.png") -186px -10px no-repeat;
}

.block-certificates .text2 span:last-child {
	font-family: "Roboto-Regular", sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #5e5e5e;
	margin-bottom: 17px;
}


/* ==========================================================================
	 block-price >>>
	 ========================================================================== */

.block-price {
	padding-top: 74px;
	padding-bottom: 82px;
	background-color: #f7f9fa;
}

.block-price h2 {
	margin-bottom: 78px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 35px;
	line-height: 35px;
	color: #3d4048;
	font-weight: 100;
	text-align: center;
}

.block-price .price-items {
	font-size: 0;
	text-align: center;
}

.block-price .price-item {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	height: 380px;
	margin-left: 32px;
	margin-right: 27px;
	padding-top: 66px;
	background-color: #ededed;
	-webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.17);
	box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.17);
}

.block-price .price-item .location{
	margin-bottom: 36px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #3d4048;
	text-align: center;
}

.block-price .price-item .price {
	margin-bottom: 47px;
	text-align: center;
}

.block-price .price-item .price span:first-child{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 6px;
	font-family: "Roboto-Light", sans-serif;
	font-size: 80px;
	line-height: 80px;
	color: #3d4048;
}

.block-price .price-item .price span:last-child{
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto-Light", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #5e5e5e;
}

.block-price .request {
	text-align: center;
}

.block-price .request {
	text-align: center;
}

.block-price .request-btn {
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	padding: 11px 25px;
	border-radius: 5px;
	background-color: #d50061;
}

/* ==========================================================================
	 block-request >>>
	 ========================================================================== */
.block-request {
	padding-top: 79px;
	background-color: #009ae1;
}

.block-request h2 {
	margin-bottom: 25px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	font-weight: 100;
}

.block-request .description {
	margin-bottom: 43px;
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	font-weight: 100;
}

.block-request .request-from-wrapper {
	display: inline-block;
	vertical-align: top;
	padding: 12px 12px;
	margin-bottom: 52px;
	border-radius: 5px;
	background-color: #0484bf;
}

.block-request form {
	font-size: 0;
}

.block-request form input[type="text"], .block-request form input[type="email"] {
	width: 339px;
	height: 41px;
	padding: 0 15px;
	margin-right: 14px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #000;
	font-style: italic;
	font-weight: 100;
	border: none;
}

.block-request form input[type="submit"] {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	padding: 11px 12px;
	font-style: normal;
	border-radius: 5px;
	background-color: #d50061;
	border: none;
}

.block-request {
	text-align: center;
}

.block-request .go-top-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 62px;
	height: 31px;
	background: url("../images/sprite.png") -10px -10px no-repeat;
}

.block-request .go-top-btn::after {
	position: absolute;
	content: '';
	width: 18px;
	height: 11px;
	top: 14px;
	left: 50% ;
	transform: translateX(-50%);
	background:	url("../images/sprite.png") -265px -10px	no-repeat;
}

.block-request input::-webkit-input-placeholder {color: #b7b7b7;}
.block-request input::-moz-placeholder {color: #b7b7b7;}
.block-request input:-ms-input-placeholder {color: #b7b7b7;}
/* ==========================================================================
	 block-footer >>>
	 ========================================================================== */
.block-footer {
	background-color: #285f95;
}

.footer-top {
	padding-top: 78px;
	padding-bottom: 59px;
	border-bottom: 1px solid #939393;
}

.footer-top .address {
	position: relative;
	float: left;
	margin-right: 164px;
	padding-left: 32px;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer-top .address::after {
	position: absolute;
	content: '';
	width: 14px;
	height: 20px;
	top: 4px;
	left: 0;
	background:	url("../images/sprite.png") -1139px -10px no-repeat;
}

.footer-top .email {
	position: relative;
	float: left;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	padding-left: 50px;
}

.footer-top .email::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 18px;
	top: 4px;
	left: 5px;
	background:	url("../images/sprite.png") -1044px -10px no-repeat;
}

.footer-top .tel {
	position: relative;
	float: right;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer-top .tel a {
	color: #fff;
}

.footer-top .tel::after {
	position: absolute;
	content: '';
	width: 19px;
	height: 19px;
	top: 5px;
	left: -44px;
	background:	url("../images/sprite.png") -1173px -10px no-repeat;
}

.footer-bottom {
	padding-top: 29px;
	padding-bottom: 35px;
}

.footer-bottom .copyright {
	float: left;
	font-family: "Roboto-Regular", sans-serif;
	font-size: 14px;
	color: #bcbcbc;
}

.footer-bottom .social {
	float: right;
	font-size: 0;
}

.footer-bottom .social .social-btn {
	display: inline-block;
	vertical-align: top;
	width: 47px;
	height: 43px;
	margin-right: 23px;
	border-radius: 5px;
}

.footer-bottom .social .social-btn:last-child {
	margin-right: 0;
}

.footer-bottom .social .social-btn.fb {
	position: relative;

	background-color: #2ba1ec;
}

.footer-bottom .social .social-btn.fb::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 18px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background:	url("../images/sprite.png") -546px -10px no-repeat;
}

.footer-bottom .social .social-btn.vk {
	position: relative;
	background-color: #3564b9;
}

.footer-bottom .social .social-btn.vk::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 12px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background:	url("../images/sprite.png") -1250px -10px no-repeat;
}

